<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <font><%= username %></font>
        <input type = "button" value = "logout" onclick = "location.href = '/login'">
    </body>
</html>
